# LC_ALL=C sort -u -f -o .gitignore        .gitignore        ; cat .gitignore
#*[.-]gz
#*[.-]xz
#*[.-]zip
*.bak
*.orig
*.pyc
*.swn
*.swo
*.swp
*.sw[pon]
*.[adio]
*.[ado]
*[.-]away
*[.-]bad
*[.-]bak
*[.-]old
*[.-]orig
*[.-]sav
*[.-]save
*[.-]temp
*[.-]tmp
*[.-]wech
*~
.DS_Store
.Spotlight-V100
.Trashes
._*
ARCHIV/
demod_double
Desktop.ini
filter_bits
split_to_to_files
Thumbs.db
uart
uart_ganz_simpel
uart_simpel
